

body {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #102539;
    background-image: url("../images/planet.png");
}

/* Crea un contorno al rededor del canvas */
#my-canvas {
    border: 2px solid black;
}